body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
   display: grid;
   grid-template-columns: minmax(30%,100%);
   justify-items: center;
   align-content: center;
   padding: 5em;
   font-size: 1.4em;
    }
header h1{
    color: hsl(212, 6%, 44%);
    font-weight: 10;
}
.h12{
    color: hsl(234, 12%, 34%);
    font-weight:bolder;
}
.boxi{
display: grid;
grid-template-columns:1fr 1fr 1fr ;
width: 90%;
place-items: center;
gap: 0px;
padding: 5em;
}
.item{
    width: 60%;
    display: grid;
    border: 1px solid black;
    padding: 1em;
    border-radius: 15px;
    border: none;
    box-shadow: 0 8px 20px rgba(0,0,0,.1);
    grid-template-rows: 1fr 1fr 1fr;
}
.item img{
    grid-row: 3;
    width: 80px;
    justify-self: end;
    align-self: end; 
}
.item2{ grid-column: 1;
     grid-row: 2;
    border-top: 10px solid hsl(180, 62%, 55%);
    
} 
.item1{ grid-column: 2;
    border-top: 10px solid hsl(0, 78%, 62%);
    grid-row: 1; } 
.item3{ grid-column: 3;
     grid-row: 2;
    border-top: 10px solid hsl(212, 86%, 64%); } 
.item4{ grid-column: 2;
     grid-row: 3;
    border-top: 10px solid hsl(34, 97%, 64%); } 
    @media (max-width: 768px){
        .boxi{
            grid-template-columns: 1fr;
             width: 100%;
        }
        .item{
            width: 90%;
            max-width: 440px;
            margin: 100px;
            margin-top: 0;
            margin-left: -60px;
        }
        .item2{ grid-column: 1;
     grid-row: 2;
    border-top: 10px solid hsl(180, 62%, 55%);
} 
.item1{ grid-column: 1;
    border-top: 10px solid hsl(0, 78%, 62%);
    grid-row: 1; } 
.item3{ grid-column: 1;
     grid-row: 3;
    border-top: 10px solid hsl(212, 86%, 64%); } 
.item4{ grid-column: 1;
     grid-row: 4;
    border-top: 10px solid hsl(34, 97%, 64%); } 
    }